<a href="https://colab.research.google.com/github/cstar-industries/python-3-beginner/blob/master/999-Extras/List%20Comprehensions%20Cookbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### List of squares

Generate a list of squares of numbers from 0 to 9

In [0]:
[x*x for x in range(10)]

#### List of random numbers

Generate a list of 10 random numbers between 0 and 1. The use of `_` is conventional to ignore the iteration value.

In [0]:
from random import random

[random() for _ in range(10)]

[0.5916128655224796,
 0.04701292997498585,
 0.6266998446918381,
 0.14894506158826237,
 0.7860168667197909,
 0.09591094950904466,
 0.4873878800670879,
 0.44739584734083004,
 0.8682346545495039,
 0.19635728597197677]

#### Alternating list

Generate a list of 10 values, alternately `'a'` and `'z'`. I.e. the list should be `['a', 'z', 'a', 'z', 'a'...`

In [0]:
[('a' if (i % 2) == 0 else 'z') for i in range(10)]

['a', 'z', 'a', 'z', 'a', 'z', 'a', 'z', 'a', 'z']

#### Iterating on 2 lists (cartesian)

Generate all possible sundae combinations from both lists.

In [0]:
syrups = ['chocolate', 'strawberry', 'fudge']
toppings = ['peanut', "m&m's", 'chocolate chip']
[f'{s} syrup with {t} topping' for s in syrups for t in toppings]

['chocolate syrup with peanut topping',
 "chocolate syrup with m&m's topping",
 'chocolate syrup with chocolate chip topping',
 'strawberry syrup with peanut topping',
 "strawberry syrup with m&m's topping",
 'strawberry syrup with chocolate chip topping',
 'fudge syrup with peanut topping',
 "fudge syrup with m&m's topping",
 'fudge syrup with chocolate chip topping']

#### Iterating on 2 lists (parallel)

Generate a list of complete names (first and last) from 2 separate lists.

In [0]:
firstnames = ['Bruce', 'Bruce', 'Lil']
lastnames = ['Willis', 'Wayne', 'Wayne']
[f'{f} {l}' for f, l in zip(firstnames, lastnames)]

['Bruce Willis', 'Bruce Wayne', 'Lil Wayne']

#### Filter even numbers in a list

Extract all the even numbers from a list of arbitrary integers.

In [0]:
l = [81, 25, 25, 71, 70, 76, 24, 63, 36, 41]
[x for x in l if (x % 2) == 0]

[70, 76, 24, 36]

#### People whose last name start with M

From a list of dictionaries representing people in a phone directory, extract all entries with last names starting with the letter M.

In [0]:
directory = [{'first_name': 'Anthony','last_name': 'Smith','phone_number': '634-973-3745'},
 {'first_name': 'Jessica','last_name': 'Rivera','phone_number': '858-290-9824'},
 {'first_name': 'Patty', 'last_name': 'Zhang', 'phone_number': '015-663-8948'},
 {'first_name': 'Carrie','last_name': 'Perez','phone_number': '091-742-2292'},
 {'first_name': 'John', 'last_name': 'Miller', 'phone_number': '416-144-5291'},
 {'first_name': 'Nathan', 'last_name': 'Holt', 'phone_number': '917-040-8407'},
 {'first_name': 'Joyce', 'last_name': 'Mayer', 'phone_number': '541-159-5153'},
 {'first_name': 'Steven','last_name': 'Ramirez','phone_number': '702-946-1912'},
 {'first_name': 'Carrie','last_name': 'Johnson','phone_number': '628-960-1618'},
 {'first_name': 'Christopher','last_name': 'Ortiz','phone_number': '847-856-0552'},
 {'first_name': 'Ruth','last_name': 'Christensen','phone_number': '188-335-0533'},
 {'first_name': 'Ian', 'last_name': 'Garcia', 'phone_number': '708-877-0583'},
 {'first_name': 'Sarah','last_name': 'Mitchell','phone_number': '299-956-9214'},
 {'first_name': 'Shannon','last_name': 'Gardner','phone_number': '916-276-2491'},
 {'first_name': 'Michael','last_name': 'Powell','phone_number': '718-226-3135'},
 {'first_name': 'Kelly','last_name': 'Gordon','phone_number': '745-373-2209'},
 {'first_name': 'Robert','last_name': 'Sutton','phone_number': '588-501-0011'},
 {'first_name': 'John', 'last_name': 'Kelly', 'phone_number': '496-624-3883'},
 {'first_name': 'Nicholas','last_name': 'Miller','phone_number': '545-867-8403'},
 {'first_name': 'Robert','last_name': 'Garrett','phone_number': '033-257-8821'}]

[e for e in directory if e['last_name'].startswith('M')]

[{'first_name': 'John', 'last_name': 'Miller', 'phone_number': '416-144-5291'},
 {'first_name': 'Joyce', 'last_name': 'Mayer', 'phone_number': '541-159-5153'},
 {'first_name': 'Sarah',
  'last_name': 'Mitchell',
  'phone_number': '299-956-9214'},
 {'first_name': 'Nicholas',
  'last_name': 'Miller',
  'phone_number': '545-867-8403'}]

Alternatively, extract only the last names.

In [0]:
[e['last_name'] for e in directory if e['last_name'].startswith('M')]

['Miller', 'Mayer', 'Mitchell', 'Miller']

Use a `set` to extract distinct last names.

In [0]:
{e['last_name'] for e in directory if e['last_name'].startswith('M')}

{'Mayer', 'Miller', 'Mitchell'}

#### Combinatorics

We'll be using the set of 4 letters `'A'`, `'B'`, `'C'` and `'D'` as our data set for combinatorics.

In [0]:
s = 'ABCD'

##### Cartesian product

Every ordered pair from a list.

In [11]:
[(x, y) for x in s for y in s]

[('A', 'A'),
 ('A', 'B'),
 ('A', 'C'),
 ('A', 'D'),
 ('B', 'A'),
 ('B', 'B'),
 ('B', 'C'),
 ('B', 'D'),
 ('C', 'A'),
 ('C', 'B'),
 ('C', 'C'),
 ('C', 'D'),
 ('D', 'A'),
 ('D', 'B'),
 ('D', 'C'),
 ('D', 'D')]

##### Permutations

Every ordered pair of distinct items from a list

In [9]:
[(x, y) for x in s for y in s if x != y]

[('A', 'B'),
 ('A', 'C'),
 ('A', 'D'),
 ('B', 'A'),
 ('B', 'C'),
 ('B', 'D'),
 ('C', 'A'),
 ('C', 'B'),
 ('C', 'D'),
 ('D', 'A'),
 ('D', 'B'),
 ('D', 'C')]

##### Combinations

Every unordered pair of distinct items from a list

In [12]:
[(x, y) for i, x in enumerate(s) for y in s[i+1:]]

[('A', 'B'), ('A', 'C'), ('A', 'D'), ('B', 'C'), ('B', 'D'), ('C', 'D')]

##### Combinations with repetition

Every unordered pair of items from a list

In [13]:
[(x, y) for i, x in enumerate(s) for y in s[i:]]

[('A', 'A'),
 ('A', 'B'),
 ('A', 'C'),
 ('A', 'D'),
 ('B', 'B'),
 ('B', 'C'),
 ('B', 'D'),
 ('C', 'C'),
 ('C', 'D'),
 ('D', 'D')]

#### Check if all numbers are even

Return `True` if all numbers in a list are even.

In [0]:
l = [0, 1, 2, 3]
all([(n%2) == 0 for n in l])

False

In [0]:
l = [0, 2, 4, 6]
all([(n%2) == 0 for n in l])

True

#### Check if string contains a digit

Return `True` if at least one character in a string is a digit.

In [0]:
s = 'Ciq0D07HQWas1Saj7Mcv'
any([c.isdigit() for c in s])

True

In [0]:
s = 'tiSGYQCEKogiMTeNQuFL'
any([c.isdigit() for c in s])

False

#### Average number of characters per word

Get the average length of a word in a text.

In [3]:
from string import ascii_letters

text = """We were somewhere around Barstow on the edge of the desert when the drugs began to take hold. I remember saying something like "I feel a bit lightheaded; maybe you should drive. . . ." And suddenly there was a terrible roar all around us and the sky was full of what looked like huge bats, all swooping and screeching and diving around the car, which was going about a hundred miles an hour with the top down to Las Vegas."""
words = [''.join([c for c in w if c in ascii_letters]) for w in text.split()]   # Split words along whitespace, then filter non-letter characters from words
print(words)
avg_len = sum([len(w) for w in words]) / len(words)
print(avg_len)

['We', 'were', 'somewhere', 'around', 'Barstow', 'on', 'the', 'edge', 'of', 'the', 'desert', 'when', 'the', 'drugs', 'began', 'to', 'take', 'hold', 'I', 'remember', 'saying', 'something', 'like', 'I', 'feel', 'a', 'bit', 'lightheaded', 'maybe', 'you', 'should', 'drive', '', '', '', 'And', 'suddenly', 'there', 'was', 'a', 'terrible', 'roar', 'all', 'around', 'us', 'and', 'the', 'sky', 'was', 'full', 'of', 'what', 'looked', 'like', 'huge', 'bats', 'all', 'swooping', 'and', 'screeching', 'and', 'diving', 'around', 'the', 'car', 'which', 'was', 'going', 'about', 'a', 'hundred', 'miles', 'an', 'hour', 'with', 'the', 'top', 'down', 'to', 'Las', 'Vegas']
4.08641975308642

#### Cumulative sum

For a list of numbers, create a list where each item with index $n$ is the sum of all numbers in the original list up to (and including) index $n$.

```python
cumsum[0] = data[0]
cumsum[1] = data[0] + data[1]
...
cumsum[-1] = data[0] + data[1] + ... + data[-2] + data[-1]
           = sum(data)
```

In [0]:
data = [0, 1, 2, 5, 8, 12, 15, 18, 19, 20]
[sum(data[:i]) for i in range(1, len(data) + 1)]

[0, 1, 3, 8, 16, 28, 43, 61, 80, 100]

#### Moving average

From a list of $N$ numbers, create a list of $N-1$ numbers by averaging over each pair of numbers. I.e.

```python
avg[0] = (data[0] + data[1]) / 2
avg[1] = (data[1] + data[2]) / 2
...
avg[-2] = (data[-2] + data[-1]) / 2
```

In [0]:
data = [5.6, 0.5, 3.9, 6.2, 6.5, 3.3, 0.7, 0.3, 9.2, 1.6]
[(x0 + x1)/2 for x0, x1 in zip(data[:-1], data[1:])]

[3.05, 2.2, 5.05, 6.35, 4.9, 2.0, 0.5, 4.75, 5.3999999999999995]

#### Count letter occurences

Create a `dict` that maps every character in a string to its appearance count.

In [10]:
text = """We were somewhere around Barstow on the edge of the desert when the drugs began to take hold. I remember saying something like "I feel a bit lightheaded; maybe you should drive. . . ." And suddenly there was a terrible roar all around us and the sky was full of what looked like huge bats, all swooping and screeching and diving around the car, which was going about a hundred miles an hour with the top down to Las Vegas."""
{char: text.count(char) for char in text}

{' ': 80,
 '"': 2,
 ',': 2,
 '.': 6,
 ';': 1,
 'A': 1,
 'B': 1,
 'I': 2,
 'L': 1,
 'V': 1,
 'W': 1,
 'a': 28,
 'b': 7,
 'c': 4,
 'd': 22,
 'e': 43,
 'f': 4,
 'g': 13,
 'h': 22,
 'i': 16,
 'k': 5,
 'l': 16,
 'm': 6,
 'n': 20,
 'o': 24,
 'p': 2,
 'r': 20,
 's': 19,
 't': 21,
 'u': 13,
 'v': 2,
 'w': 12,
 'y': 5}