<a href="https://colab.research.google.com/github/cstar-industries/python-3-beginner/blob/master/002-Control-Flow/Control%20Flow%20-%20Chap%2003%20-%20Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to `list`

In [0]:
l = [1, 2, 3]
print(l)

l = ['one', 'two', 'three']
print(l)

In [0]:
l = [1, '2', int(6/2)]
print(l)

In [0]:
type(l)

In [0]:
one = 1
two = 2
three = 3

[one, two, three]

In [0]:
a = 'Hello World!'

[2 ** 10, None, None, None, one == 1, a[:5]]

In [0]:
[[0, 1, 2], 3, [4, 5]]

In [0]:
l = ['a', 'list', 'of', 5, 'objects']

len(l)

In [0]:
print(l[0])
print(l[:3])
print(l[-2:])

In [0]:
type(l)

In [0]:
type(l[1])

In [0]:
type(l[1:])

In [0]:
print(l[-1])
print(l[-1][-1])

In [0]:
[1, 2] + [3, 4]

In [0]:
5 * ['spam']

In [0]:
l = [0, 1, 2]
l[2] = 3
print(l)

## Iterating with `for`

In [0]:
s = "Hello World!"

for c in s:
    print(c)

In [0]:
import math

squares = [0, 1, 4, 9, 16, 25]

for x in squares:
    print(math.sqrt(x))

In [0]:
for n in [0, 1, 1, 2, 3, 5, 8, 13]:
  print((n % 2) == 0)

In [0]:
for n in [0, 1, 1, 2, 3, 5, 8, 13]:
  if (n % 2) == 0:
    print(f'{n} is even')
  else:
    print(f'{n} is odd')

In [0]:
for i in range(10):
  print(i, end=' ')

In [0]:
for i in range(4, 10):
  print(i, end=' ')

In [0]:
for i in range(4, 13, 4):
  print(i, end=' ')

In [0]:
for i in range(10, 0, -1):
  print(i, end=' ')

In [0]:
r = range(10)
type(r)

In [0]:
for i in r:
  print(i)