<a href="https://colab.research.google.com/github/cstar-industries/python-3-beginner/blob/master/004-Functions-And-More/Functions%20And%20More%20-%20Workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Variable scope

For each question, read the block of code and check the correct answer.

> To check a checkbox, double-click on the text cell to edit it, and add an `x` inside the brackets, like `[x]`.

#### 1. What would be the output of this program?

```python
def buy_eggs(num_eggs)
    egg_count = 0
    egg_count += num_eggs
    return egg_count

buy_eggs(12)
print(egg_count)
```

 * [ ] `0`
 * [ ] `12`
 * [ ] something else
 * [ ] an error

#### 2. What would be the output of this program?

```python
egg_count = 0

def buy_eggs(num_eggs)
    egg_count += num_eggs
    return egg_count

buy_eggs(12)
print(egg_count)
```

 * [ ] `0`
 * [ ] `12`
 * [ ] something else
 * [ ] an error

#### 3. What would be the output of this program?

```python
egg_count = 0

def buy_eggs(num_eggs)
    egg_count = num_eggs
    return egg_count

buy_eggs(12)
print(egg_count)
```

 * [ ] `0`
 * [ ] `12`
 * [ ] something else
 * [ ] an error

#### 4. What would be the output of this program?

```python
def buy_eggs(num_eggs)
    egg_count = 0
    egg_count += num_eggs
    return egg_count

egg_count = buy_eggs(12)
print(egg_count)
```

 * [ ] `0`
 * [ ] `12`
 * [ ] something else
 * [ ] an error

#### 5. What would be the output of this program?

```python
egg_count = 0

def buy_eggs(num_eggs)
    global egg_count
    egg_count += num_eggs
    return egg_count

buy_eggs(12)
print(egg_count)
```

 * [ ] `0`
 * [ ] `12`
 * [ ] something else
 * [ ] an error

####6. What would be the output of this program?

```python
def buy_eggs(num_eggs)
    egg_count = 0
    egg_count += num_eggs
    return egg_count

egg_count = buy_eggs(12)
buy_eggs(12)
buy_eggs(12)
buy_eggs(12)
print(egg_count)
```

 * [ ] `0`
 * [ ] `12`
 * [ ] something else
 * [ ] an error

## 2. Humanize time

Write a function `humanize_duration` that takes a number of seconds and outputs a human-readable time duration.

Example:

```python
humanize_duration(60)
'1 minute'

humanize_duration(62 * 60 + 21)
'1 hour, 2 minutes and 21 seconds'

humanize_duration(0.21)
'0.21 seconds'
```

Your function should check for edge cases and raise a `ValueError` for values it can't handle.

> **Note:** The largest subdivison of time should be "days" (as the next subdivision, "month", is not a fixed amount of time). The smallest should be "seconds".

In [0]:
print(humanize_duration(60))
print(humanize_duration(62 * 60 + 21))
print(humanze_duration(24 * 60 * 60))
print(humanize_duration('3600'))

## 3. `any`/`all`

Rewrite the `any`/`all` functions. Reminder of their specification:

> `any(iterable)`
>
> Return `True` if any element of the `iterable` is true.

> `all(iterable)`
>
> Return `True` if all elements of the `iterable` are true (or if the `iterable` is empty).

## 4.1 Functional Programming - Reduce

Write a function `reduce` that takes:

* a function that takes 2 arguments
* an iterable
* an initial value

and returns a single value, obtained by applying the function cumulatively to the items of the iterable, from left to right.

Example:

```python
reduce(lambda x, y: x+y, [1, 2, 3, 4], 0)
10
```

because $((((0+1)+2)+3)+4) = 10$

> **Note:** `reduce`-ing is a very common problem in data science. For lists of data, we want to extract a single value (average, standard deviation, mean-squared error, etc.). Functional programming helps to give a simple way to express this calculation. As seen above, `sum` is actually a special case of reducing, using addition as the cumulative function.

## 4.2 Functional Programming - Group by (optional)

Write a function `group_by` that takes:

* a function that takes a single argument
* an iterable

and returns a dictionary that maps lists of items of the iterable to the value they return through the function. I.e. all values that return `True` when passed to the function would appear in a `list` mapped to the key `True` in the `dict`.

Example:

```python
group_by(lambda x: 'even' if (x % 2) == 0 else 'odd', range(10))
{'even': [0, 2, 4, 6, 8], 'odd': [1, 3, 5, 7, 9]}

group_by(lambda x: x['winner'], world_cup)
{'Italy': [{'year': 1934, 'country': 'Italy', 'winner': 'Italy'},
           {'year': 1938, 'country': 'France', 'winner': 'Italy'},
           {'year': 1982, 'country': 'Spain', 'winner': 'Italy'},
           {'year': 2006, 'country': 'Germany', 'winner': 'Italy'}],
 'Brazil': [{'year': 1958, 'country': 'Sweden', 'winner': 'Brazil'},
            {'year': 1962, 'country': 'Chile', 'winner': 'Brazil'},
            {'year': 1970, 'country': 'Mexico', 'winner': 'Brazil'},
            {'year': 1994, 'country': 'USA', 'winner': 'Brazil'},
            {'year': 2002, 'country': 'Korea/Japan', 'winner': 'Brazil'}],
 'England': [{'year': 1966, 'country': 'England', 'winner': 'England'}],
 ...
```

In [0]:
world_cup = [{'year': 1930, 'country': 'Uruguay', 'winner': 'Uruguay'},
 {'year': 1934, 'country': 'Italy', 'winner': 'Italy'},
 {'year': 1938, 'country': 'France', 'winner': 'Italy'},
 {'year': 1950, 'country': 'Brazil', 'winner': 'Uruguay'},
 {'year': 1954, 'country': 'Switzerland', 'winner': 'Germany'},
 {'year': 1958, 'country': 'Sweden', 'winner': 'Brazil'},
 {'year': 1962, 'country': 'Chile', 'winner': 'Brazil'},
 {'year': 1966, 'country': 'England', 'winner': 'England'},
 {'year': 1970, 'country': 'Mexico', 'winner': 'Brazil'},
 {'year': 1974, 'country': 'Germany', 'winner': 'Germany'},
 {'year': 1978, 'country': 'Argentina', 'winner': 'Argentina'},
 {'year': 1982, 'country': 'Spain', 'winner': 'Italy'},
 {'year': 1986, 'country': 'Mexico', 'winner': 'Argentina'},
 {'year': 1990, 'country': 'Italy', 'winner': 'Germany'},
 {'year': 1994, 'country': 'USA', 'winner': 'Brazil'},
 {'year': 1998, 'country': 'France', 'winner': 'France'},
 {'year': 2002, 'country': 'Korea/Japan', 'winner': 'Brazil'},
 {'year': 2006, 'country': 'Germany', 'winner': 'Italy'},
 {'year': 2010, 'country': 'South Africa', 'winner': 'Spain'},
 {'year': 2014, 'country': 'Brazil', 'winner': 'Germany'}]

> **HINT:** If this one seems too hard at first, start by solving the problem with the name of the key for `world_cup_winners` and work your way from there.
>
> ```python
group_by_key('winner', world_cup)
{'Italy': [{'year': 1934, 'country': 'Italy', 'winner': 'Italy'},
           {'year': 1938, 'country': 'France', 'winner': 'Italy'},
           {'year': 1982, 'country': 'Spain', 'winner': 'Italy'},
           {'year': 2006, 'country': 'Germany', 'winner': 'Italy'}],
 'Brazil': [{'year': 1958, 'country': 'Sweden', 'winner': 'Brazil'},
            {'year': 1962, 'country': 'Chile', 'winner': 'Brazil'},
            {'year': 1970, 'country': 'Mexico', 'winner': 'Brazil'},
            {'year': 1994, 'country': 'USA', 'winner': 'Brazil'},
            {'year': 2002, 'country': 'Korea/Japan', 'winner': 'Brazil'}],
 'England': [{'year': 1966, 'country': 'England', 'winner': 'England'}],
 ...
 ```