<a href="https://colab.research.google.com/github/cstar-industries/python-3-beginner/blob/master/003-Data-Structures/Data%20Structures%20-%20Chap%2003-04%20-%20Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## `dict`

In [0]:
d = {0: 'zero', 2: 'two', 1: 'one'}
type(d)

In [0]:
d[0]

In [0]:
d[2]

In [0]:
d['two']

In [0]:
print(d.get('two'))

In [0]:
d = {'one': 1, 'two': '2', 'three': 3.0, 'four': [4, 4, 4]}
print(d)

In [0]:
d2 = dict(one=1, four=[4, 4, 4], two='2', three=3.0)
print(d2)
print(d == d2)

In [0]:
d[4] = 'four'
print(d)

In [0]:
del d[0]
print(d)

In [0]:
for k in d:
    print(f'{k}=>{d[k]}')

In [0]:
for v in d.values():
    print(v)

In [0]:
for k, v in d.items():
    print(f'{k}=>{v}')

## Converting sequence types

In [0]:
list(('Hello', 'World'))

In [0]:
tuple([0, 10, 'toto'])

In [0]:
list(range(10))

In [0]:
tuple(range(10))

In [0]:
set([0, 1, 2])

In [0]:
list({0: 'zero', 1: 'one'})

## List comprehensions

In [0]:
l = []
for x in range(10):
  l.append(x*x)
print(l)

In [0]:
l = [x*x for x in range(10)]
print(l)

In [0]:
l2 = [x/2 for x in l]
print(l2)

In [0]:
books = ['1984', 'The Stranger', 'The Pragmatic Programmer']
prices = [8.99, 12.71, 22.1]
[(b, f'{p:.2f}') for b, p in zip(books, prices)]

In [0]:
from random import randint

l = [randint(0, 100) for _ in range(10)]
print(l)

In [0]:
evens = [x for x in l if (x % 2) == 0]
print(evens)

In [0]:
for x in (0, 1, 2):
  for y in (1, 2, 3):
    print((x, y))

In [0]:
[(x, y) for x in (0, 1, 2) for y in (1, 2, 3)]

In [0]:
[(x, y) for x in (0, 1, 2) for y in (1, 2, 3) if x != y]

In [0]:
{(-1) ** x for x in range(1000)}

In [0]:
s = 'Hello World!'

{c: s.count(c) for c in s}

## Starred expressions

In [0]:
r = range(10)
print(r)

In [0]:
r = []
for i in range(10):
  r.append(i)
print(r)

In [0]:
r = [i for i in range(10)]
print(r)

In [0]:
r = [*range(10)]
print(r)

In [0]:
(*range(10),)

In [0]:
squares = [x*x for x in range(10)]
enumerate(squares)

In [0]:
[*enumerate(squares)]

In [0]:
z = zip(range(10), range(0, 100, 10))
print(z)
print([*z])

## `any` & `all`

In [0]:
any([False, True])

In [0]:
any([False, False])

In [0]:
any([0, 1])

In [0]:
all([True, False])

In [0]:
all([True, True, True])

In [0]:
l = [2*x for x in range(20)]
print([((x % 2) == 0) for x in l])

In [0]:
if all([((x % 2) == 0) for x in l]):
  print('All numbers are even')

In [0]:
l.append(3)
if all([((x % 2) == 0) for x in l]):
  print('All numbers are even')

In [0]:
from random import random

l = [random() for _ in range(100)]
print(l)

In [0]:
[x < 0.001 for x in l]

In [0]:
any([x < 0.001 for x in l])

In [0]:
all([x > 0.001 for x in l])